.App {
    text-align: center;
}

form * {
    margin: 20px;
}

#todo-item-input {
    padding: 10px 20px;
    width: 80%;
}

#submitBtn {
    padding: 10px 20px;
}

#listContainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.taskContainer {
    margin: 20px;
    padding: 10px;
}

.taskControls {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}